<div class="container">

  <h1>Our products</h1>

  @defer () {
    <table class="table align-middle table-dark table-striped table-hover" >
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Product</th>
          <th scope="col">Price</th>
          <th scope="col">Description</th>
          <th scope="col">Details</th>
        </tr>
      </thead>
      <tbody>
          @for (product of productList; track $index) {
            <tr>
              <th scope="row"> {{ product.id }} </th>
              <td> {{ product.title }} </td>
              <td> {{ product.price | currency}} </td>
              <td> {{ product.description }} </td>
              <td> <button type="button" class="btn btn-outline-light" (click)="navegate(product.id)" >See Details</button> </td>
            </tr>
          }
      </tbody>
    </table>
  } @loading (minimum 3s) {
    <div class="loading">
      <img alt="loading..." src="https://i.gifer.com/XOsX.gif" />
      <h6>Loading Products...</h6>
    </div>
  }

</div>
